import(Biobase)
import(biomaRt)
import(GenomicRanges)
import(ggplot2)
import(magrittr)
import(parallel)
import(scales)

importFrom("akmedoids",elbow_point)

importFrom("glmnet",)

importFrom("harmonicmeanp",hmp.stat)
importFrom("harmonicmeanp",p.hmp)

importFrom("htmltools",tags)

importFrom("islasso",islasso)

importFrom("jsonlite",fromJSON)
importFrom("jsonlite",toJSON)
importFrom("jsonlite",unbox)

importFrom("lassosum",p2cor)
importFrom("lassosum",lassosum.pipeline)
importFrom("lassosum",validate)
importFrom("lassosum",splitvalidate)

importFrom("RMTstat",ptw)

importFrom("rrblup",GWAS)
importFrom("rrblup",mixed.solve)

importFrom("pander",pandoc.header)

importFrom("rmarkdown",render)

importFrom("rmdformats",robobook)

importFrom("S4Vectors",DataFrame)

importFrom("statgenGWAS",createGData)
importFrom("statgenGWAS",runSingleTraitGwas)

#importFrom("stats",aggregate)
#importFrom("stats",approxfun)
#importFrom("stats",as.dist)
importFrom("stats",as.formula)
#importFrom("stats",cmdscale)
importFrom("stats",coefficients)
importFrom("stats",cor)
importFrom("stats",density)
#importFrom("stats",deviance)
importFrom("stats",df)
importFrom("stats",df.residual)
importFrom("stats",dnbinom)
importFrom("stats",Gamma)
importFrom("stats",glm)
importFrom("stats",glm.fit)
importFrom("stats",fitted.values)
#importFrom("stats",kmeans)
importFrom("stats",ks.test)
#importFrom("stats",lowess)
importFrom("stats",mad)
importFrom("stats",median)
importFrom("stats",model.matrix)
importFrom("stats",na.exclude)
importFrom("stats",na.omit)
importFrom("stats",optimize)
importFrom("stats",p.adjust)
importFrom("stats",p.adjust.methods)
importFrom("stats",pchisq)
importFrom("stats",prop.test)
importFrom("stats",quantile)
importFrom("stats",rexp)
importFrom("stats",rnbinom)
importFrom("stats",rnorm)
importFrom("stats",rmultinom)
importFrom("stats",runif)
importFrom("stats",sd)
#importFrom("stats",splinefun)
#importFrom("stats",supsmu)
importFrom("stats",var)
importFrom("stats",wilcox.test)

importFrom("survcomp",combine.test)

importFrom("rrcov",PcaGrid)
importFrom("rrcov",PcaHubert)

importFrom("tools",R_user_dir)

importFrom("tseries",jarque.bera.test)

importFrom("utils",download.file)
importFrom("utils",head)
importFrom("utils",menu)
importFrom("utils",read.delim)
importFrom("utils",read.table)
importFrom("utils",write.table)
importFrom("utils",zip)


export(adjustPrsWeights)
export(aggregatePrsMarkers)
export(combineHarmonic)
export(combineMaxp)
export(combineMinp)
export(combineSimes)
export(combineWeight)
export(createSplit)
export(cvSummary)
export(downloadExternalTools)
export(downloadPlink)
export(downloadPrsice)
export(downloadSnptest)
export(enrichScoreFile)
export(filterGWAS)
export(fisherMethod)
export(getDefaults)
export(getGWASVariants)
export(getPGSScores)
export(gwa)
export(gwaBlup)
export(gwaGlm)
export(gwaPlink)
export(GWASExperiment)
export(GWASExperiment2GDS)
export(GWASExperiment2gData)
export(gwaSnptest)
export(gwaStatgen)
export(harvestWorkspace)
export(importGWAS)
export(imputeGWAS)
export(lassosumPRS)
export(listGwa)
export(listPrs)
export(mergeGWAS)
export(normalityCheck)
export(partitionGWAS)
export(plotCvMetrics)
export(prisma)
export(prismaCrossValidate)
export(prismaLookup)
export(prismaReport)
export(prismaVerbosity)
export(PRS)
export(prsCrossValidate)
export(prsicePRS)
export(prsPipeline)
export(prsRegressionMetrics)
export(prsSelection)
export(rsLocsFromEnsembl)
export(runPRS)
export(selectPrs)
export(SnpMatrix)
export(summarizeCvMetrics)
export(twTest)
export(writePlink)

