import(Biobase)
import(biomaRt)
import(GenomicRanges)
import(ggplot2)
import(liftOver)
import(kableExtra)
import(magrittr)
import(parallel)
import(scales)
import(SNPRelate)
import(snpStats)
import(SummarizedExperiment)

importFrom("BiocGenerics",which)

importFrom("BSgenome",getBSgenome)
importFrom("BSgenome",inferRefAndAltAlleles)
importFrom("BSgenome",snpsById)
importFrom("BSgenome",snpsByOverlaps)

importFrom("gdsfmt",add.gdsn)
importFrom("gdsfmt",closefn.gds)
importFrom("gdsfmt",index.gdsn)
importFrom("gdsfmt",openfn.gds)
importFrom("gdsfmt",read.gdsn)

importFrom("GenomeInfoDb",dropSeqlevels)
importFrom("GenomeInfoDb",seqinfo)
importFrom("GenomeInfoDb",Seqinfo)
importFrom("GenomeInfoDb",seqlevels)
importFrom("GenomeInfoDb","seqlevels<-")
importFrom("GenomeInfoDb",seqlengths)
importFrom("GenomeInfoDb","seqlengths<-")
importFrom("GenomeInfoDb",seqlevelsStyle)
importFrom("GenomeInfoDb","seqlevelsStyle<-")

importFrom("gwasrapidd",get_associations)
importFrom("gwasrapidd",get_traits)
importFrom("gwasrapidd",get_variants)

importFrom("harmonicmeanp",hmp.stat)
importFrom("harmonicmeanp",p.hmp)

importFrom("islasso",islasso)

importFrom("jsonlite",fromJSON)
importFrom("jsonlite",toJSON)
importFrom("jsonlite",write_json)

importFrom("htmltools",tags)

importFrom("jsonlite",fromJSON)
importFrom("jsonlite",toJSON)
importFrom("jsonlite",unbox)

importFrom("lassosum",p2cor)
importFrom("lassosum",lassosum.pipeline)
importFrom("lassosum",validate)
importFrom("lassosum",splitvalidate)

importFrom("methods",as)
importFrom("methods",callNextMethod) 
importFrom("methods",is) 
importFrom("methods",new)
importFrom("methods",slot)
importFrom("methods","slot<-")
importFrom("methods",validObject)

importFrom("PhenotypeSimulator",correlatedBgEffects)
importFrom("PhenotypeSimulator",geneticBgEffects)
importFrom("PhenotypeSimulator",geneticFixedEffects)
importFrom("PhenotypeSimulator",getCausalSNPs)
importFrom("PhenotypeSimulator",getKinship)
importFrom("PhenotypeSimulator",noiseBgEffects)
importFrom("PhenotypeSimulator",noiseFixedEffects)
importFrom("PhenotypeSimulator",readStandardGenotypes)
importFrom("PhenotypeSimulator",rescaleVariance)
importFrom("PhenotypeSimulator",setModel)
importFrom("PhenotypeSimulator",simulateGenotypes)
importFrom("PhenotypeSimulator",transformNonlinear)

importFrom("quincunx",get_scores)

importFrom("RMTstat",ptw)

importFrom("rrBLUP",GWAS)
importFrom("rrBLUP",mixed.solve)

importFrom("pander",pandoc.header)

importFrom("rmarkdown",render)

importFrom("rmdformats",robobook)

importFrom("rtracklayer",import.chain)
importFrom("rtracklayer",liftOver)

importFrom("S4Vectors",coolcat)
importFrom("S4Vectors",endoapply)
importFrom("S4Vectors",DataFrame)
importFrom("S4Vectors",metadata)
importFrom("S4Vectors",queryHits)
importFrom("S4Vectors",SimpleList)
importFrom("S4Vectors",subjectHits)

importFrom("signal",sgolayfilt)

importFrom("sitadela",loadAnnotation)

importFrom("SNPRelate",snpgdsClose)
importFrom("SNPRelate",snpgdsIBDMoM)
importFrom("SNPRelate",snpgdsIBDSelection)
importFrom("SNPRelate",snpgdsLDpruning)
importFrom("SNPRelate",snpgdsOpen)
importFrom("SNPRelate",snpgdsPCA)

importFrom("statgenGWAS",createGData)
importFrom("statgenGWAS",runSingleTraitGwas)

importFrom("SNPlocs.Hsapiens.dbSNP151.GRCh38",SNPlocs.Hsapiens.dbSNP151.GRCh38)

importFrom("stats",anova)
importFrom("stats",approx)
importFrom("stats",approxfun)
importFrom("stats",as.formula)
importFrom("stats",coefficients)
importFrom("stats",cor)
importFrom("stats",density)
importFrom("stats",df)
importFrom("stats",df.residual)
importFrom("stats",dnbinom)
importFrom("stats",Gamma)
importFrom("stats",glm)
importFrom("stats",glm.fit)
importFrom("stats",fitted.values)
importFrom("stats",IQR)
importFrom("stats",ks.test)
importFrom("stats",mad)
importFrom("stats",median)
importFrom("stats",model.matrix)
importFrom("stats",na.exclude)
importFrom("stats",na.omit)
importFrom("stats",optimize)
importFrom("stats",p.adjust)
importFrom("stats",p.adjust.methods)
importFrom("stats",pchisq)
importFrom("stats",predict)
importFrom("stats",prop.test)
importFrom("stats",qnorm)
importFrom("stats",quantile)
importFrom("stats",rexp)
importFrom("stats",rnbinom)
importFrom("stats",rnorm)
importFrom("stats",rmultinom)
importFrom("stats",runif)
importFrom("stats",sd)
importFrom("stats",setNames)
importFrom("stats",shapiro.test)
importFrom("stats",smooth.spline)
importFrom("stats",quantile)
importFrom("stats",t.test)
importFrom("stats",var)
importFrom("stats",wilcox.test)

importFrom("survcomp",combine.test)

importFrom("rrcov",getEigenvalues)
importFrom("rrcov",getLoadings)
importFrom("rrcov",PcaGrid)
importFrom("rrcov",PcaHubert)

importFrom("rsnps",ncbi_snp_query)

importFrom("tools",R_user_dir)

importFrom("tseries",jarque.bera.test)

importFrom("utils",capture.output)
importFrom("utils",download.file)
importFrom("utils",getFromNamespace)
importFrom("utils",head)
importFrom("utils",menu)
importFrom("utils",read.delim)
importFrom("utils",read.table)
importFrom("utils",tail)
importFrom("utils",untar)
importFrom("utils",unzip)
importFrom("utils",write.table)
importFrom("utils",zip)

importFrom("openxlsx",write.xlsx)

exportClasses(GWASExperiment)
#exportClasses(
#    GWASExperiment,
#    data.frame_OR_matrix,
#    data.frame_OR_matrix_OR_NULL,
#    data.frame_OR_DataFrame_OR_NULL
#)

exportMethods(
    genotypes,"genotypes<-",
    gfeatures,"gfeatures<-",
    gsamples,"gsamples<-",
    phenotypes,"phenotypes<-",
    pvalues,"pvalues<-",allPvalues,
    effects,"effects<-",allEffects,
    prsbetas,"prsbetas<-",allPrsbetas,
    filterRecord,"filterRecord<-",
    gdsfile,"gdsfile<-",
    genome,"genome<-",
    pcaCovariates,"pcaCovariates<-",
    gsplit
)

export(
    genotypes,"genotypes<-",
    gfeatures,"gfeatures<-",
    gsamples,"gsamples<-",
    phenotypes,"phenotypes<-",
    pvalues,"pvalues<-",allPvalues,
    effects,"effects<-",allEffects,
    prsbetas,"prsbetas<-",allPrsbetas,
    filterRecord,"filterRecord<-",
    gdsfile,"gdsfile<-",
    genome,"genome<-",
    pcaCovariates,"pcaCovariates<-",
    gsplit
)

export(adjustPrsWeights)
export(aggregatePrsMarkers)
export(assignGenes)
export(calcPcaCovar)
export(combineHarmonic)
export(combineMaxp)
export(combineMinp)
export(combineSimes)
export(combineWeight)
export(createSplit)
export(cvSummary)
export(downloadExternalTools)
export(downloadGtool)
export(downloadImpute)
export(downloadPlink)
export(downloadPrsice)
export(downloadQctool)
export(downloadSnptest)
export(enrichScoreFile)
export(extendGWAS)
export(filterGWAS)
export(fisherMethod)
export(getDefaults)
export(getGWASVariants)
export(getPGSScores)
export(getPrsCandidates)
export(guessHumanGenomeVersion)
export(gwa)
export(gwaBlup)
export(gwaGlm)
export(gwaPlink)
export(GWASExperiment)
export(GWASExperiment2GDS)
export(GWASExperiment2gData)
export(GWASExperimentLiftOver)
export(gwaSnptest)
export(gwaStatgen)
export(gwaTests)
export(harvestWorkspace)
export(importGWAS)
export(imputeGWAS)
export(lassosumPRS)
export(listGwa)
export(listPrs)
export(makeSimData)
export(mergeGWAS)
export(normalityCheck)
export(partitionGWAS)
export(plotCvMetrics)
export(prisma)
export(prismaCrossValidate)
export(prismaLookup)
export(prismaReport)
export(prismaPipeline)
export(prismaVerbosity)
export(PRS)
export(prsCrossValidate)
export(prsicePRS)
export(prsPipeline)
export(prsRegressionMetrics)
export(prsSelection)
export(rsLocsFromEnsembl)
export(runPRS)
export(selectPrs)
export(SnpMatrix)
export(summarizeCvMetrics)
export(twTest)
export(writeGdsFile)
export(writePlink)
